<form name="editForm" ng-submit="editNode(editForm, $event)">
    <div class="details panel panel-info">
        <div class="panel-heading">
            <input type="text" ng-model="node.name" class="form-control"/>
        </div>
        <div class="panel-body">
            <div class="url">
                <h5>Link</h5>
                <input type="text" ng-model="node.url" class="form-control" init-focus />
            </div>

            <div class="comments">
                <h5>Details</h5>
                <textarea ng-model="node.comments" class="form-control" init-focus></textarea>
            </div>

        </div>
        <div class="panel-action">
            <button type="button" ng-click="addNode()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add</button>
            <!--<button type="button" ng-click="moveNode()" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> Move</button>-->
            <button type="button" ng-click="deleteNode()" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
        <div class="panel-action">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save</button>
            <button type="button" ng-click="leaveEdit()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
    </div>
</form>
